
body{
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;
}
 .section_name__img img{
    width: 225px;
    height: 225px;
    border-radius: 50%;
}
.presentation{
    display: flex;
    flex-flow: row nowrap;
}
main .content{
    display: flex;
    flex-flow: row nowrap;
}
.top_menu, footer, .content-left *{
    background-color: #9EC5ED;
}
.icon{
    width: 60px
}
.content-left{
    min-width: 225px;
    margin-right: 20px;
}
h1{
    margin: 0 auto;
    vertical-align:middle;
    align-self: center;
    font-size: 65px;
    min-width: 400px;
    text-shadow: 3px -4px 5px #9EC5ED;
}
h1, h2, .top_menu{
    font-weight: 100;
    font-family: 'Carattere', cursive;
}
h2{
    font-size: 35px;
}
.top_menu{
    font-size: 25px;
}
@media only screen and (max-width: 800px){
    header .top_menu{
        display: none;
    }
    main .content{
        flex-flow: row wrap;
    }
    h1{
        margin-left: 40px;
    }
}

@media only screen and (min-width: 801px){
    .top_menu{
        padding: 0 20px;
    }
    .top_menu ul, .footer_nav ul{
        padding: 0;
        margin:0;
        display: flex;
        flex-flow: row nowrap;
        justify-content:space-around;
    }
    .top_menu ul li, .footer_nav ul li{
        list-style-type: none;
        padding: 12px 20px;
    }
    .top_menu ul li:hover{
        border-right: 1px solid #26480A;
        border-left: 1px solid #26480A;
        background-color: #5EA0E8;
    }
    .top_menu ul li a, .footer_nav ul li a{
        color: #000;
        text-decoration: none;
    }

}